<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8d26d0f8-72a3-4f09-813a-bcebcf2b757b/resourcegroups/StudentPortalApplicationGroup/providers/Microsoft.Web/sites/StudentPortalApplication</ResourceId>
    <ResourceGroup>StudentPortalApplicationGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://studentportalapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>studentportalapplication.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StudentPortalApplication</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StudentPortalApplication</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebApplication1Context" Order="1" Enabled="False">
          <Destination Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|WebApplication1Context-20180303145456.mdf;Initial Catalog=WebApplication1Context2;Integrated Security=True" Name="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebApplication1Context2; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebApplication1Context-20180303145456.mdf" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication1.Models.WebApplication1Context, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SchoolContext" Order="2" Enabled="True">
          <Destination Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|WebApplication1Context-20180303145456.mdf;Initial Catalog=WebApplication1Context2;Integrated Security=True" Name="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebApplication1Context2; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebApplication1Context-20180303145456.mdf" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApplication1.DAL.SchoolContext, WebApplication1" MigrationConfiguration="WebApplication1.Migrations.Configuration, WebApplication1" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SchoolContext-Web.config Connection String">
      <ParameterValue>Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebApplication1Context2; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebApplication1Context-20180303145456.mdf</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SchoolContext3-Web.config Connection String" />
    <MSDeployParameterValue Include="WebApplication1Context-Web.config Connection String">
      <ParameterValue>Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebApplication1Context2; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebApplication1Context-20180303145456.mdf</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SchoolContext" />
  </ItemGroup>
</Project>